<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Skill Set</th>
      <th scope="col">Role</th>
      <th scope="col">Project</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"></th>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.login.email %></td>
        <td>
          <% user.master_skills.each do |skill| %>
            <%= skill.skill_name %>
          <% end %>
        </td>
        <td><%= user.master_role.role_name %></td>
        <td>
          <% user.master_projects.each do |project| %>
            <%= project.proj_name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>